@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

:root {
    --primary-color: #3e64ff;
    --secondary-color: #f8f8f8;
    --home-background: #ecf0ff;

    /*use for footer*/
    --black: #000;
    --white: #fff;

    --padding-x-value: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

body {
    width: 100%;
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
}

section {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--black);
}

p {
    color: #aaa;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.button {
    padding: 15px 20px;

    background-color: var(--primary-color);
    color: var(--white);

    outline: none;
    border: none;
    border-radius: 300px;

    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.button:hover {
    color: var(--black);
    cursor: pointer;
    transition: color 0.2s ease-out;
}

.hide {
    display: none !important;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    position: relative;
}

header {
    width: 100%;

    position: fixed;

    border-bottom: 1px solid #ddd;
    box-shadow: 2px 0px 5px #999;

    z-index: 999;
}

header.scroll {
    background-color: #fff;
}

header .container {
    align-items: center;
    justify-content: space-between;
}

header .container .header__button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .header__logo {
    font-weight: bold;
    font-size: 1.2rem;
}

header .container .header__logo span {
    width: 27px;
    height: 27px;
    margin-right: -8px;

    background-color: var(--primary-color);
    color: var(--white);

    display: inline-block;
    text-align: center;

    border-radius: 50%;
}

header .header__direction {
    display: flex;
}

header .header__direction li {
    padding: 10px;
}

header .header__direction li a:after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

header .header__direction li a:hover,
header .header__direction li a.active {
    transition: color 0.2s ease-out;
    color: var(--primary-color);
}

header .header__direction li a:hover:after,
header .header__direction li a.active:after {
    transform: scaleX(1);
}

@media screen and (max-width: 992px) {
    header {
        max-height: 60px;
        transition: max-height 0.7s ease-in-out;
        overflow: hidden;
    }

    header.full {
        max-height: 1000px;
        transition: max-height 0.7s ease-in-out;
    }

    header.top {
        background-color: var(--black);
    }

    header.top.scroll {
        background-color: var(--white);
    }

    header.top a {
        color: var(--white);
    }

    header .menu {
        cursor: pointer;
        color: #ccc;
    }

    header.scroll a {
        color: var(--black);
    }

    header .container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    header .header__direction {
        flex-direction: column;
        margin-top: 10px;
    }
}

.banner {
    width: 100%;
    height: 100vh;

    position: relative;

    font-size: 1.5rem;
}

.banner .banner__left {
    width: 50%;
    height: 100%;
    background-color: var(--home-background);
}

.banner .banner__content {
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .banner__content h4 {
    color: var(--primary-color);

    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner .banner__content h3 span {
    color: var(--primary-color);
    text-decoration: underline;

    border-right: 1px solid #000;
    overflow: hidden;
}

.banner .banner__content .down-button {
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;

    position: relative;

    border: 50px solid transparent;
    border-bottom-color: var(--home-background);

    cursor: pointer;
}

.banner .banner__content .down-button:after {
    content: "";
    width: 0;
    height: 0;

    position: absolute;
    left: -50px;
    top: 50px;

    border: 50px solid transparent;
    border-top-color: var(--home-background);
    z-index: -1;
}

.banner .banner__content .down-button i {
    margin-top: 10px;
    margin-left: -10px;

    color: var(--primary-color);
    animation: movedown 1.5s ease-in-out infinite;
}

@keyframes movedown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(40px);
    }
}

.about {
    width: 100%;
    min-height: 100vh;
}

.about .container {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.about .container .image,
.about .container .info {
    width: 50%;
    height: 100%;
}

.about .container .info {
    padding: 50px 0 50px 50px;
}

.about .info .title {
    font-size: 3rem;
}

.about .info .quote,
.about .info .detail,
.about .info .sub-info {
    margin-top: 40px;
}

.about .info .item {
    display: flex;
    margin: 15px 0;
}

.about .info .item__name {
    min-width: 150px;
    font-weight: 600;
}

.about .info .quote,
.about .info .item__value {
    color: #9f9f9f;
}

.about .info .sub-info .text {
    font-size: 1.2rem;
}

.about .info .sub-info p {
    color: var(--black);
}

.about .info .sub-info .text span {
    color: var(--primary-color);
    font-weight: 500;
}

.about .info .sub-info .button {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .about .container {
        flex-direction: column;
    }

    .about .container .image,
    .about .container .info {
        width: 100%;
    }

    .about .container .info {
        margin-top: 40px;
        padding: 0;
    }

    .about .info .quote,
    .about .info .detail,
    .about .info .sub-info {
        margin-top: 20px;
    }
}

.resume {
    position: relative;
    margin-top: 130px;
    min-height: 2200px;
}

.resume .resume__links {
    position: relative;
    top: 130px;
    left: 120px;
}

.resume__links .list .link {
    margin: 10px 0;

    position: relative;

    display: flex;
    align-items: center;

    font-size: 1.1rem;
    font-weight: 600;
}

.resume__links .list .link::before {
    content: "";

    height: 3px;
    width: 20px;
    margin-right: 3px;

    visibility: hidden;
    display: inline-block;
    background-color: var(--primary-color);
    transition: all 0.2s linear;
}

.resume__links .list .link.active a {
    transition: color 0.2s linear;
    color: var(--primary-color);
}

.resume__links .list .link.active::before {
    margin-left: 10px;
    transition: all 0.2s linear;
    visibility: visible;
}

.resume .resume__content {
    position: absolute;
    left: 300px;
}

.resume .resume__content .item {
    display: flex;
}

.resume__content .content {
    margin-bottom: 30px;
}

.resume__content .content .title {
    font-size: 2rem;
    color: var(--primary-color);
}

.resume__content .content .item {
    margin-top: 20px;
    margin-bottom: 150px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.resume__content .content .item .thumbnail {
    width: 50px;
    height: 50px;
    margin: 0 5px;

    color: var(--white);
    background-color: var(--primary-color);

    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.resume__content .content .item .item__detail {
    margin-left: 10px;
    flex: 1;
}

.resume__content .content .item .item__detail h3,
.resume__content .content .item .item__detail h3 a {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.content .item .item__detail h4 {
    margin: 10px 0 5px 0;
}

#skills .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#skills .item .skill {
    width: 100%;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#skills .item .skill .skill__range {
    width: 90%;
    height: 10px;
    display: block;
    border-radius: 3px;
    background-color: #ddd;
}

#skills .item .skill .skill__range .skill__value {
    height: 100%;
    background-color: var(--primary-color);
    position: relative;
}

#skills .item .skill .skill__range .skill__value span {
    display: block;
    position: absolute;
    right: -20px;
    top: -40px;
}

/* #skills .item .skill input{
    width: 100%;
    -webkit-appearance: none;
    background: #ddd;
    height: 10px;
    border-radius: 2px;
} */

/* track for range input
#skills .item .skill input[type="range"]::-webkit-slider-runnable-track,
#skills .item .skill input[type="range"]::-moz-range-track{
    height: 0.5rem;
    background: #000;
} */

#projects .item .item__detail .image {
    margin-top: 10px;
    width: 70%;
    border-radius: 3px;
}

@media screen and (max-width: 992px) {
    .resume .resume__content {
        left: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .resume .resume__links {
        left: 15px;
    }
}

.contact .container{
    flex-direction: column;
    padding-bottom: 0;
}

.contact .header {
    text-align: center;
}

.contact .header .title{
    font-size: 3rem;
}

.contact .contact__methods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px 0 50px 0;
}

.contact .contact__methods .method{
    width: 260px;
    padding: 20px;

    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    box-shadow: 0 5px 20px #ddd;
    transition: all 0.3s ease;
}

.contact .contact__methods .method:hover{
    transform: scale(1.1);
}

.contact .contact__methods .method .icon{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 50%;

    background-color: var(--primary-color);
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__methods .method  .value{
    margin-top: 20px;
    color: #000;
}

.contact__methods .method .icon i{
    color: #fff;
}

.contact .send__mail{
    display: flex;
}

.contact .send__mail .image{
    width: 50%;
}

.contact .mail__content{
    width: 50%;
    padding: 40px;
    background-color: #f8f9fa;
}

.contact .mail__content input{   
    height: 40px;
}

.contact .mail__content input,
.contact .mail__content textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;

    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;

    font-size: 1.1rem;

    transition: all 0.2s ease;
    resize: none;
}

.contact .mail__content input:focus,
.contact .mail__content textarea:focus{
    border-color: #000;
}

footer{
    width: 100%;
    height: 700px;
    background-color: #000;
}

footer .container{
    height: 100%;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .container .item{
    max-width: 220px;
    margin: 100px 0;
}

footer .container .item .title{
    color: #fff;
}

footer .container .item .content{
    margin-top: 20px;
}

footer .list .link{
    margin: 20px 0;
}

footer .list .link a{
    color: #ccc;
}

footer .item .content .media {
    width: 50px;
    height: 50px;
    margin: 10px 0 10px 5px;

    background-color: #1a1a1a;
    color: #ddd;
    font-size: 1.3rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer .content .method{
    display: flex;
    width: 100%;
    margin: 10px 0;
}

footer .content .method .icon{
    width: 30px;
    height: 30px;
    color: #ccc;
}

footer .content .method .text{
    display: block;
    flex: 1;
}
